@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

@font-face {
  font-family: "PressStart2P";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("PressStart2P"), url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("OpenSans"), url("/fonts/OpenSans-VariableFont.ttf") format("truetype");
}
