@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

@font-face {
  font-family: "PressStart2P";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("PressStart2P"), url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("OpenSans"), url("/fonts/OpenSans-VariableFont.ttf") format("truetype");
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(10rem);
 }
 100% {
    transform: translateX(0);
 }
}

@keyframes fadeRight {
  0% {
    transform: translateX(0);
 }
 100% {
    transform: translateX(10rem);
 }
}

.greenery {
  background-color: #00b09b !important;
  background-image: linear-gradient(to bottom right, #96c93d, #00b09b) !important;
}

.sublime-vivid {
  background-color: #fc466b !important;
  background-image: linear-gradient(to bottom right, #3f5efb, #fc466b) !important;
}

.dimigo {
  background-color: #ff0f7b !important;
  background-image: linear-gradient(to bottom right, #ff0f7b 0, #f89c2a) !important;
}

.reef {
  background-color: #00d2ff !important;
  background-image: linear-gradient(to bottom right, #2f80ed, #56ccf2) !important;
}

.light-purple {
  background-color: #4568dc !important;
  background-image: linear-gradient(90deg, #b06ab3, #4568dc) !important;
}

.witching-hour {
  background-color: #c31432 !important;
  background-image: linear-gradient(to bottom right, #240b36, #c31432) !important;
}

.titanium {
  background-color: #283048 !important;
  background-image: linear-gradient(to bottom right, #859398, #283048) !important;
}
